@import "../styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f8fa;
  --foreground: #171717;
}

:root {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/InterVariable-Italic.woff2") format("woff2");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toggle-button {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  cursor: pointer;
}

.toggle-button.active {
  background-color: #ccc;
  font-weight: bold;
}
